/* Fondo de la barra lateral */
.bd-sidebar {
    width: 250px !important;  /* Ajusta el ancho (prueba con 220px o 240px si es muy grande) */
    position: fixed !important;  /* Fija la barra en su lugar */
    left: 0 !important;  /* La mantiene pegada al lado izquierdo */
    top: 0;
    height: 100vh !important;  /* Asegura que ocupe toda la altura */
    background-color: #6572AB !important;  /* Azul */
}

.bd-content {
    margin-left: 250px !important;  /* Debe coincidir con el ancho de la barra */
}

/* Fondo del encabezado en la barra lateral */
.bd-sidebar-primary {
    background-color: #d5e2e9 !important; /* Azul */
}

/* Texto del menú en la barra lateral */
.bd-sidebar .nav-link {
    color: #000000 !important;  /* Blanco */
}

/* Texto de las secciones (ejemplo: COMPONENTS, INSTALLATION) */
.bd-sidebar .nav-link.active, .bd-sidebar .nav-link:hover {
    color: #9296d6 !important;  /* Azul claro */
}

/* Borde alrededor de la barra lateral */
.bd-sidebar {
    border-right: 1px solid #444444 !important;
}

/* Estilo para el segundo logo debajo del logo principal */
.extra-logo {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.extra-logo img {
    width: 150px;  /* Ajusta el tamaño del segundo logo */
    display: block;
    margin: 0 auto;
}

/* Evitar que la barra lateral tenga doble scroll */
.bd-sidebar::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
}

/* Estilo del cuadro de búsqueda */
.bd-sidebar .form-control {
    background-color: #FFFFFF !important;  /* Blanco */
    color: #000000 !important;  /* Texto negro */
    border: 1px solid #CCCCCC !important;
}
